.footer {
  background-color: var(--footer-background-color);
}
.case {
  max-width: 1200px;
  margin: auto;
}

.footer__container {
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 24px;
  padding-right: 24px;
}

.footer__container,
.footer__maps {
  line-height: 2;
}

.footer__title {
  display: flex;
  flex-direction: column;
  color: var(--white-text);
  text-align: left;
  position: relative;
}

.title__contacts {
  font-size: 34px;
  font-family: var(--footer-font-for-h);
}

.contacts__text {
  font-size: 20px;
  font-stretch: 100%;
  font-family: var(--font-for-p);
  font-weight: 400;
}

.address__item {
  color: var(--footer-text-color);
  font-family: var(--font-for-p);
  font-size: 17px;
}

.hours__item {
  color: var(--footer-text-color);
  font-family: var(--font-for-p);
  font-size: 17px;
}

.contacts__item {
  list-style: none;
}

.address__title,
.contacts__title,
.hours__title {
  display: flex;
  font-size: 22px;
  color: var(--second-title-color);
  font-family: var(--footer-font-for-h);
}

.footer__number,
.footer__email {
  color: var(--white-text);
  text-decoration: none;
  font-size: 17px;
  font-family: var(--font-for-p);
}

.footer__number:hover {
  font-size: 17px;
  color: var(--link-click-color);
  font-family: var(--font-for-p);
}
.footer__email:hover {
  font-size: 17px;
  color: var(--link-click-color);
  font-family: var(--font-for-p);
}

.footer__maps {
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.maps__position {
  z-index: 3;
  position: relative;
  height: 100%;
  width: 100%;
  padding: 0px;
  border-width: 0px;
  margin: 0px;
  left: 0px;
  top: 0px;
  touch-action: pan-x pan-y;
}

.footer__form-container {
  position: relative;
  background-color: var(--footer-form-background-color);
  padding-top: 45px;
  padding-bottom: 70px;
}

.client-form {
  position: relative;
  background-color: var(--footer-form-background-color);
  display: flex;
  flex-direction: column;
  font-weight: 400;
  align-items: center;
}

.client-form__item {
  font-family: inherit;
  display: block;
  width: 70%;
  margin: 12px;
  border-width: 2px;
  border-style: solid;
  border-radius: 22px;
  border-color: var(--footer-form-text-color);
  text-overflow: ellipsis;
  font-weight: 800;
  font-size: 15px;
  padding-top: 13px;
  padding-bottom: 13px;
  padding-left: 37px;
  padding-right: 37px;
  background-color: var(--footer-form-color);
}

.client-form__message {
  color: var(--white-text);
  background-color: var(--footer-submit-color);
  display: block;
  width: 55%;
  height: 35px;
  margin: 30px;
  border-radius: 22px;
  cursor: pointer;
  border: none;
  border-width: 2px;
  transition: 0.3s;
  font-weight: 700;
}

.footer__navigation {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 40px;
  padding-right: 40px;
}

.header__logo {
  justify-content: center;
  height: 63.275px;
  display: block;
  width: 100%;
}

.header__menu {
  display: flex;
  flex-direction: column;
  padding: 5px;
  line-height: 2;
}

.header__menu-link {
  font-size: 17px;
  color: var(--white-text);
  text-decoration: none;
  font-family: var(--font-for-p);
  font-weight: 700;
}

.header__menu-link:hover {
  color: var(--link-click-color);
}

.bottom-line {
  height: 1px;
  border-color: gray;
  margin-left: 40px;
  margin-right: 40px;
}

.footer__rights {
  color: var(--footer-text-color);
  font-size: 14px;
  font-family: var(--footer-font-for-h);
  display: flex;
  flex-direction: column;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: center;
}

@media (min-width: 768px) {
  .footer__navigation {
    display: flex;
  }

  .header__menu {
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    flex: 1;
    gap: 15px;
  }

  .footer__rights {
    display: flex;
    flex-direction: row;
  }

  .rights__author {
    text-align: left;
    width: 80%;
  }

  .rights__reserved {
    text-align: right;
    width: 20%;
  }

  .container-for-info {
    display: flex;
    gap: 15px;
  }

  .map-and-form {
    display: flex;
    flex-direction: row;
    padding-top: 30px;
  }

  .footer__form-container {
    width: 40%;
    height: 50%;
  }
}
