#story__image {
  width: 100%;
}

.header {
  background: url(../imgs/header/header-back.png) center center / cover
    no-repeat;
  position: relative;
}

.header::after {
  content: "";
  background: var(--header);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
}

.container {
  max-width: 1230px;
  margin: 0 auto;
  padding: 30px;
  position: relative;
}

.header__contact {
  display: flex;
  margin-top: -12px;
  justify-content: space-between;
  position: relative;
  z-index: 1;
}

.header__address {
  color: var(--white-text);
}

.header__number {
  color: var(--white-text);
}

.header__wrapper {
  margin-top: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__wrapper-links {
  display: flex;
  gap: 30px;
  align-items: center;
}

.logo {
  width: 103px;
}

.menu__list {
  list-style: none;
  display: flex;
  gap: 20px;
}

.menu__link {
  text-decoration: none;
  font-family: Rubik, sans-serif;
  font-size: 15px;
  color: var(--white-text);
  font-weight: 500;
}

.menu__link:hover {
  color: #e6b70a;
}

.social {
  width: 30px;
  fill: var(--header);
  background-color: rgb(44, 133, 54);
  border-radius: 50%;
  padding: 6px;
}

.header__social {
  display: flex;
  align-items: center;
  gap: 20px;
}

.header_network {
  text-decoration: none;
  background: green;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  color: #261d17;
  transition: 0.3s;
  font-size: 15px;
}

.header_network:hover {
  background: rgb(57, 171, 70);
}

.header__brewery {
  margin-top: 150px;
  width: 470px;
  margin-bottom: 150px;
}

.header__brewery-contetn {
  color: #e6b70a;
}

.header__brewery-title {
  font-size: 85px;
  margin-bottom: 30px;
  color: #fff;
}

.spikelet {
  max-width: 70px;
  margin-bottom: 20px;
}

.header__brewery-text {
  color: rgb(170, 124, 90);
  font-size: 17px;
  font-family: Rubik, sans-serif;
  margin-bottom: 50px;
  line-height: 1.7;
}

.header__btns {
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
}

.btn {
  cursor: pointer;
  border: none;
  height: 50px;
  border-width: 2px;
  border-radius: 30px;
  transition: 0.3s;
  color: #fff;
  font-weight: 700;
}

.btn--big {
  width: 184px;
  margin-bottom: 30px;
  background: #2c8536;
}

.btn--big:hover {
  background: #0c3b10;
}

.btn--small {
  width: 170px;
  background: #0c3b10;
}

.btn--small:hover {
  background: #2c8536;
}

.header__img {
  position: absolute;
  max-width: 62.3%;
  right: -80px;
  top: 23%;
  visibility: hidden;
}


.burger {
  display: none;
}

@media (max-width: 990px) {
  .header::after {
    content: "";
    display: none;
  }

  .header__contact {
    display: none;
  }

  .header__wrapper-links {
    position: fixed;
    background: #2c221d;
    height: 100vh;
    width: 50%;
    right: -100%;
    top: 0;
    z-index: 100;
    flex-direction: column;
    justify-content: space-evenly;
    transition: 0.5s;
  }

  .header__wrapper-links.active {
    right: 0;
    width: 100%;
  }

  .header__wrapper {
    margin-top: 0;
  }

  .header__wrapper-logo {
    z-index: 110;
  }

  .header__brewery {
    margin-top: 70px;
  }

  .menu__list {
    flex-direction: column;
  }

  .menu__link {
    font-size: 17px;
  }

  .burger {
    display: block;
    z-index: 110;
    cursor: pointer;
  }

  .burger span {
    display: block;
    width: 28px;
    height: 3px;
    background: #fff;
    margin-bottom: 5px;
    transition: 0.3s;
  }

  .burger span:last-child {
    margin-bottom: 0;
  }

  .burger.active span {
    margin: 0;
  }

  .burger.active span:first-child {
    transform: rotate(45deg) translateY(2px);
  }

  .burger.active span:nth-child(2) {
    display: none;
  }

  .burger.active span:last-child {
    transform: rotate(-45deg) translateY(-2px);
  }
}

@media (max-width: 770px) {
  .header__brewery {
    width: 100%;
  }

  .header__brewery-title {
    font-size: 58px;
  }

  .header__btns {
    flex-direction: row;
    gap: 30px;
  }
}
