.brewer-slider {
    background-color: var(--slider-background-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 24px;
}

.text-design {
    color: var(--text-design-color);
    text-align: center;
    margin-top: 100px;
    margin-bottom: 20px;
}

.spike {
    max-width: 352px;
    max-height: 32px;
    margin-left: 25px;
    margin-bottom: 20px;
}

.slider-images {
    list-style: none;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    margin-bottom: 100px;
}

.slider-images li img {
    width: 100%;
    min-width: 39px;
    max-width: 170px;
    height: auto;
    padding: 7px 3.75px;
}

.lower-papercut {
    width: 100%;
    margin-bottom: 20px;
}

.slider-title {
    color: var(--title_color);
    text-align: center;
    margin-bottom: 20px;
}

.title-description {
    color: var(--title_description_color);
    text-align: center;
    margin-bottom: 20px;
}

.slider-beer {
    display: flex;
    flex-direction: column;
}

.slider-container{
    position: relative;
    max-width: 1200px;
    width: 100%;
    margin: auto;
    overflow: hidden;
}

.slider__line{
    margin-top: 40px;
    position: relative;
    display: flex;
    align-items: center;
    max-width: 100%;
    height: auto;
    transition: all 1s;
}

.slider-container .slider__wrapper{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
}

.slider-container .slider__wrapper li{
    list-style: none;
    cursor: pointer;
}

.slider-container .slider__wrapper li img{
    padding: 30px 15px;
    width: 100%;
    height: auto;
    transition: 0.5s;
    max-width: 232px;
    max-height: 173px;
}

.slider-container .slider__wrapper li img:hover{
    filter:drop-shadow(0 0 0.50rem rgb(230, 141, 7));
}

.btn-prev{
    position: absolute;
    max-width: 30px;
    max-height: 30px;
    rotate: -135deg;
    top: 35%;
    left: 2%;
}

.btn-next{
    position: absolute;
    max-width: 30px;
    max-height: 30px;
    rotate: 44deg;
    top: 35%;
    right: 2%;
}

.btn-prev:hover{
    filter: drop-shadow(0 0 0.50rem rgb(230, 141, 7));
    cursor: pointer;
}

.btn-next:hover{
    filter: drop-shadow(0 0 0.50rem rgb(230, 141, 7));
    cursor: pointer;
}

.active-dot {
    filter:drop-shadow(0 0 0.50rem rgb(230, 141, 7));
}