.faq{
    background-image: url(/imgs/img-faq/faq-background.jpg) ;
    background-size: cover;
    padding-top: 6%;
    padding-bottom: 6%;
}
#img-main{
    width: 720px;
    padding-left: 13%;
}
.faq__title{
    font-size: 34px;
}

.faq__container{
    display: block;
}
.divider{
    font-size: 14px;
}
.faq__list{
    display: flex;
    flex-direction: column;
    align-items:flex-start;
}
.faq__paragraph{
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    font-size: 20px;
}

.faq__list-item{
    font-weight: bold;
}

@media (min-width:768px){
    .faq{
       display: flex; 
    }
    
}