.title-event {
  color: var(--white-text);
  font-size: 2.5rem;
  font-weight: bold;
}

.event__container {
  text-align: center;
  max-width: 100%;
  min-width: 320px;
  background-color: var(--slider-background-color);
  padding-top: 110px;
  padding-bottom: 110px;
}

.event__title {
  color: var(--text-design-color);
  font-size: 1.0rem;
}

.events-block__item {
  color: var(--light-text);
}

.buy-open__block {
  color: var(--light-text);
}

.text__block {
  color: var(--text-design-color);
}

.start-event__image {
  display: flex;
  min-width: 272px;
  min-height: 176;
  width: 100%;
}

.end-event__image {
  display: block;
  width: 100%;
}

.button__item {
  position: absolute;
  background-color: var(--green-bottom);
  color: var(--white-text);
  border: none;
  border-radius: 10px;
  padding: 10px;
  min-height: 5px;
  min-width: 100px;
  text-align: center;
  cursor: pointer;
}

.button__item:hover {
  background-color: var(--dark-green-bottom);
  transition: 0.4s;
}

.arrows__item {
  width: 50;
  height: 25;
  background-color: var(--slider-background-color);
}

.event__details {
  background-color: var(--brown-background-color);
  width: auto;
  height: 366px;
}


.free__container {
  padding-bottom: 10%;
}

.events-block__items {
  color: var(--light-text);
}

.title {
  text-align: center;
}

.events-block__item {
  font-size: 1.5rem;
}