

.faq-main {
    display: block;
}

.faq {
    background-image: url(../imgs/img-faq/faq-background.jpg);
    background-size: cover;
    padding: 6% 6% 6% 10%;
    display: flex;
}
.img-bottom {
    width: 100%;
    background-image: url(../imgs/img-faq/faq-background.jpg);
    background-size: auto;
    display: block;
}

.img-faq-wrapper {
    width: 78%;
    padding-left: 3%;
}

.img-main {
    width: 90%;
    margin-top: 15%;

}

.img-wheat {
    width: 24%;
    padding-top: 26px;
}

.faq__title {
    font-size: 44px;
    letter-spacing: .048em;
    margin-top: 15px;
    line-height: 48.4px;
}

.faq__container {
    display: block;
    width: 58%;
    margin-top: 10%;
}

.divider {
    font-size: 14px;
    font-weight: 900;
    letter-spacing: 1.4px;
}

.faq__list {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    color: var(--secondary-color);
    font-family: 'Rubik';
}

.faq__paragraph {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 20px;
    color: var(--secondary-color);
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: 'Rubik';
}

.faq__list-item {
    font-weight: bold;
    padding-top: 20px;
    padding-bottom: 25px;
    font-size: 17px;
    width: 100%;
    display: block;
}

.faq__list-answer {
    width: 100%;
    padding-bottom: 20px;
    font-size: 17px;
    display: none;
}
.faq__list-line{ 
    height: 1px;
    background-color:var(--line-color);
}
.faq__list-item_button {
    float: right;
    cursor: pointer;

}
.faq__list-part{
    width: 100%;
}

@media (max-width:767px) {
    .faq {
        width: 100%;
        display: block;
        padding-left: 15px;
        padding-right: 15px;
    }

    .img-faq-wrapper {
        margin: auto;
        width: 85%;
    }

    .img-wheat {
        width: 40%;
    }

    .img-main {
        width: 100%;
    }

    .faq__container {
        width: 100%;
        margin-top: 50px;
    }

    .faq__paragraph {
        line-height: 32px;
        letter-spacing: normal;
    }

    .faq__title {
        font-size: 34px;
        letter-spacing: 1.632px;
        line-height: 37.4px;
        margin-top: 20px;
        color: var(--text-color);
    }

    .divider {
        margin-top: 50px;
    }

    .faq__list {
        letter-spacing: normal;
        line-height: 28.9px;
    }

    .faq__list-item_button {
        float: right;
    
    }
}