.video-tour {
    background-image: url(..//imgs/imgs-video-beer-carousel/sand-background.png);
    background-position: center bottom 5%;
    background-size: cover;
}


.top-xxx {
    display: block;
    width: fit-content;
    margin: 0 auto;
    color: rgb(150, 90, 28);
    font-family: 'Frank Ruhl Libre', sans-serif;
}

.video-tour-text {
    text-align: center;
    font-size: 1.5em;
    display: block;
    width: fit-content;
    margin: 0 auto;
    color: black;
    font-family: 'Frank Ruhl Libre', sans-serif;
}

.wheat {
    display: block;
    width: 10%;
    height: auto;
    margin: 0 auto;
}

@media (min-width: 580px) {
    .text-want {
        width: fit-content;
        margin: 0 auto;
        text-align: center;
        font-size: 20px;
        line-height: 1.6;
        font-family: 'Frank Ruhl Libre', sans-serif;
        font-weight: 400;
        text-decoration: none;
        font-style: normal;
        letter-spacing: 0;
        color: #614e44;
        text-transform: none;
    }
}

@media (min-width: 500px) and (max-width: 1000px) {
    #img-two-bottles {
        display: block;
        width: fit-content;
        margin: 0 auto;
        margin-left: 50%;
        transform: translateY(-160px);
    }

    #img-premium {
        display: block;
        width: fit-content;
        margin: 0 auto;
        margin-left: 70%;
        transform: translateY(-320px);
    }

    #img-glass {
        display: block;
        width: fit-content;
        margin-left: 60%;
        transform: translateY(-280px);
    }

    #text-beer {
        display: block;
        width: fit-content;
        margin: 0 auto;
        margin-left: 52%;
        word-wrap: break-word;
        white-space: pre-wrap;
        max-width: 65px;
        transform: translateY(-150px);
        font-family: 'Frank Ruhl Libre', sans-serif;
    }

    #text-qual {
        display: block;
        width: fit-content;
        margin-left: auto;
        margin-left: 72%;
        transform: translateY(-310px);
        white-space: pre-wrap;
        max-width: 70px;
        font-family: 'Frank Ruhl Libre', sans-serif;
    }


    #text-lorem {
        display: block;
        margin-left: 62%;
        transform: translateY(-270px);
        white-space: pre-wrap;
        max-width: 70px;
        font-family: 'Frank Ruhl Libre', sans-serif;
    }
}

@media (max-width: 580px) {
    .text-want {
        display: block;
        margin: 0 auto;
        width: 311px;
        word-wrap: break-word;
        white-space: pre-wrap;
        max-width: 300px;
        text-align: center;
        font-size: 20px;
        line-height: 1.6;
        font-family: 'Frank Ruhl Libre', sans-serif;
        font-weight: 400;
        font-style: normal;
        letter-spacing: 0;
        color: #614e44;
    }
}

@media screen and (max-width: 500px) {
    .factory {
        display: block;
        margin: 0 auto;
        width: 70%;
        transform: translateY(5px);
        height: auto;
    }
}

.left-xxx {
    display: block;
    width: fit-content;
    margin: 0 auto;
    margin-left: 10px;
    color: rgb(150, 90, 28);
}

.text-our {
    display: block;
    width: fit-content;
    margin: 0 auto;
    color: black;
    margin-left: 10px;
    font-family: 'Frank Ruhl Libre', sans-serif;

}

/*для всіх*/
#text-we-share {
    display: block;
    width: fit-content;
    margin: 0 auto;
    margin-left: 10px;
    color: #aa7c5a;
    font-family: 'Frank Ruhl Libre', sans-serif;
}

#left-wheat {
    display: block;
    width: 20%;
    height: auto;
    margin-left: 10px;
}

#text-we-work {
    width: 200px;
    margin-left: 10px;
    display: block;
    width: fit-content;
    margin: 0 auto;
    word-wrap: break-word;
    white-space: pre-wrap;
    max-width: 300px;
    color: black;
    font-family: 'Frank Ruhl Libre', sans-serif;
}

#text-we-share {
    width: fit-content;
    margin: 0 auto;
    display: block;
    word-wrap: break-word;
    white-space: pre-wrap;
    max-width: 300px;
    color: #aa7c5a;
    font-family: 'Frank Ruhl Libre', sans-serif;
}

/*до 500 px*/
@media screen and (max-width: 500px) {
    #img-two-bottles {
        display: block;
        width: fit-content;
        margin: 0 auto;
        margin-left: 50px;
        transform: translateY(60px);
    }

    #img-premium {
        display: block;
        width: fit-content;
        margin: 0 auto;
        margin-right: 50px;
        transform: translateY(-95px);
    }

    #img-glass {
        display: block;
        width: fit-content;
        margin: 0 auto;
        transform: translateY(-85px);
    }

    #text-beer {
        display: block;
        width: fit-content;
        margin: 0 auto;
        margin-left: 60px;
        word-wrap: break-word;
        white-space: pre-wrap;
        max-width: 65px;
        transform: translateY(70px);
        font-family: 'Frank Ruhl Libre', sans-serif;
    }

    #text-qual {
        display: block;
        width: fit-content;
        margin-left: auto;
        margin-right: 60px;
        transform: translateY(-90px);
        white-space: pre-wrap;
        max-width: 70px;
        font-family: 'Frank Ruhl Libre', sans-serif;
    }


    #text-lorem {
        display: block;
        margin: 0 auto;
        transform: translateY(-90px);
        white-space: pre-wrap;
        max-width: 70px;
        font-family: 'Frank Ruhl Libre', sans-serif;
    }
}

/*більше 500*/
@media (min-width: 500px) {
    .text-want {
        width: 600px;
        font-family: 'Frank Ruhl Libre', sans-serif;
    }
    .factory {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 75%;
        transform: translateY(5px);
        height: auto;
    }


    .left-xxx {
        display: block;
        width: fit-content;
        margin: 0 auto;
        margin-left: 12.5%;
        color: rgb(150, 90, 28);
    }

    .text-our {
        display: block;
        width: fit-content;
        margin: 0 auto;
        margin-left: 12%;
        font-family: 'Frank Ruhl Libre', sans-serif;
    }

    #left-wheat {
        display: block;
        width: 200%;
        height: auto;
        margin: 0 auto;
        margin-left: 12%;
        width: 5%;
        height: 3%;
    }

    #text-we-work {
        display: block;
        width: fit-content;
        margin: 0 auto;
        margin-left: 12%;
        word-wrap: break-word;
        white-space: pre-wrap;
        max-width: 200px;
        font-family: 'Frank Ruhl Libre', sans-serif;
    }

    #text-we-share {
        display: block;
        width: fit-content;
        margin: 0 auto;
        margin-left: 12%;
        color: #aa7c5a;
        word-wrap: break-word;
        white-space: pre-wrap;
        max-width: 200px;
        font-family: 'Frank Ruhl Libre', sans-serif;
    }
}


@media screen and (min-width: 700px) {
    .block-top {
        max-width: 100%;
        margin-bottom: -1%;
    }
}

@media screen and (max-width: 700px) {
    .block-top {
        max-width: 100%;
        margin-bottom: -2%;
    }
}

@media screen and (min-width: 1000px) {
    #img-two-bottles {
        display: block;
        width: fit-content;
        margin: 0 auto;
        margin-left: 32%;
        transform: translateY(-190px);
    }

    #img-premium {
        display: block;
        width: fit-content;
        margin: 0 auto;
        margin-right: 32%;
        transform: translateY(-355px);
    }

    #img-glass {
        display: block;
        width: fit-content;
        margin: 0 auto;
        transform: translateY(-515px);
    }

    #text-beer {
        display: block;
        width: fit-content;
        margin: 0 auto;
        margin-left: 32%;
        word-wrap: break-word;
        white-space: pre-wrap;
        max-width: 65px;
        transform: translateY(-180px);
        font-family: 'Frank Ruhl Libre', sans-serif;
    }

    #text-qual {
        display: block;
        width: fit-content;
        margin-left: auto;
        margin-right: 32%;
        transform: translateY(-346px);
        white-space: pre-wrap;
        max-width: 70px;
        font-family: 'Frank Ruhl Libre', sans-serif;
    }


    #text-lorem {
        display: block;
        margin: 0 auto;
        transform: translateY(-508px);
        white-space: pre-wrap;
        max-width: 70px;
        font-family: 'Frank Ruhl Libre', sans-serif;
    }
}