.carousel-beer {
    display: flex;
    justify-content: flex-start; 
    overflow-x: scroll; 
}

.carousel__track-container {
    display: grid;
    grid-auto-flow: column; 
}
.carousel__slide {
    flex: 0 0 auto; 
    width: auto; 
    height: 200; 
    overflow: hidden; 
}

.carousel__slide img {
    width: 100%; 
    height: 100%; 
    object-fit: cover; 
}

#carousel__button carousel__button--left {
    display: block;
    margin-left: 10px;
    transform: translateY(50px);
}

#carousel__button carousel__button--right {
    display: block;
    margin-right: 10px;
    transform: translateY(50px);
}



