.faq {
    background-image: url(../imgs/img-faq/faq-background.jpg);
    background-size: cover;
    padding: 6% 6% 6% 10%;
}

.block-bottom {
    max-width: 100%;
    margin-top: auto;
  }

#img-bottom {
    width: 100%;
    z-index: -1;
    background-image: url(../imgs/img-faq/faq-background.jpg);
    background-size: auto;
}

#img-faq-wrapper {
    width: 78%;
    padding-left: 3%;
}

#img-main {
    width: 90%;
}

#img-wheat {
    width: 24%;
    padding-top: 26px;
}

.faq__title {
    font-size: 27px;
    letter-spacing: .048em;
    margin-top: 15px;
    line-height: 48.4px;
}

.faq__container {
    display: block;
    width: 58%;
}

.divider {
    font-size: 14px;
    font-weight: 900;
    letter-spacing: 1.4px;
}

.faq__list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: var(--secondary-color);
    font-family: 'Rubik';
}

.faq__paragraph {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 20px;
    color: var(--secondary-color);
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: 'Rubik';
}

.faq__list-item {
    font-weight: bold;
    padding-top: 20px;
    padding-bottom: 10px;
    font-size: 17px;
}

.faq__list-answer {
    border-bottom: 1px solid #ccc;
    width: 100%;
    padding-bottom: 20px;
    font-size: 17px;
}

@media (min-width:768px) {
    .faq {
        display: flex;
    }

    .faq__title {
        font-size: 44px;
    }
}