.story__craft-beers{
        width: 100%;
        background-image: url(../imgs/img-faq/faq-background.jpg);
        background-size: auto;
        display: block;
}

#image-beers {
    object-fit: cover;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 900px;
    transform: translateY(5px);
    height: 374px;
}

#image-backdown {
    width: 100%;
}

.story__image-backdown {
    max-width: 100%;
    margin-bottom: -1%;
}

#image-wheat {
    object-fit: contain;
    width: 6%;
    margin: 0 auto;
    object-position: 1.524% 41.987%;
}

.story__description-XXX {
    font-size: 14px;
    margin: 0 auto;
    height: 42.98px;
    width: 18px;
    color:var(--xxx-color);
    font-family: 'Frank Ruhl Libre', sans-serif;
}

.story__year-text {
    color: var(--year-text-color);
    font-size: 60px;
}
<<<<<<< HEAD
=======

.story__craft-beers {
    overflow-x: hidden;
}

>>>>>>> 22cd90fe7b9a40c739dc8683c54403b6a410230e
